.base-card.card {
  display: flex;
  width: 300px;
  height: 347px;
  flex-direction: column;
  align-items: center;
  padding: 14px 10px 15px;
  margin-top: 20px;
}

.card-image {
  width: 100%;
  height: auto;
  text-align: center;
}

.card-image img {
  max-width: 220.72px;
  height: auto;
  margin: 0 auto;
}

.card-bottom {
  width: 257.93px;
  padding-bottom: 10px;
}

.card-bottom button {
  width: 100%;
}

.card-container {
  padding-left: 16px;
}

.card-container h6 {
  text-align: center;
  width: auto;
  height: 21px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #000000;
}

.card-container p {
  text-align: start;
  margin-top: 14px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  color: #585858;
}

@media (min-width: 576px) {
  .row {
    width: 556px;
  }

  .container {
    min-width: 556px;
    margin-top: 15px;
  }

  .base-card.card {
    width: 258px;
    margin: 15px;
  }

  .card-container {
    padding: 16px 20px 10px;
    width: 258px;
  }

  .card-container p {
    font-size: 12px;
  }

  .card-bottom {
    width: 220px;
    height: 40px;
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .row {
    width: 758px;
  }

  .container {
    min-width: 758px;
    margin-top: 15px;
  }

  .base-card.card {
    width: 349px;
    margin-top: 15px;
  }

  .card-container {
    padding: 10px 5px 10px;
    width: 307px;
  }
  .card-container p {
    font-size: 14px;
  }

  .card-bottom {
    width: 307px;
  }
}

@media (min-width: 992px) {
  .row {
    width: 984px;
  }
  .container {
    min-width: 984px;
    margin-top: 15px;
  }
  .base-card.card {
    width: 296px;
    margin-top: 15px;
  }

  .card-container {
    width: 257.31px;
  }

  .card-bottom {
    width: 257.31px;
  }
}

@media (min-width: 1200px) {
  .row {
    width: 1008px;
  }

  .container {
    max-width: 1008px;
    margin-top: 15px;
  }

  .base-card.card {
    width: 306px;
    margin: 15px;
  }

  .card-container {
    width: 266px;
  }

  .card-bottom {
    width: 266px;
  }
}

@media (min-width: 1400px) {
  .row {
    width: 1344px;
  }

  .container {
    min-width: 1344px;
  }
  .base-card.card {
    width: 306px;
    margin-top: 15px;
  }

  .card-container {
    width: 266px;
  }

  .card-bottom {
    width: 266px;
  }
}
